@font-face {
    font-family: 'Epilogue';
    src: url('Epilogue/Epilogue-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Epilogue-Bold';
    src: url('Epilogue/Epilogue-Bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}